# Configuration de l'application
PORT=3000

# Base de données MongoDB
MONGODB_URI=mongodb://mongo:27017/calculator

# Clé secrète pour JWT (à changer en production, ceci n'est qu'un exemple)
JWT_SECRET=exemple

# MongoDB credentials
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=password

# Autres configurations
NODE_ENV=development